@{
    ViewBag.Title = "首页";
}

<div class="jumbotron">
    <h1>深圳网众集成办公系统</h1>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>欢迎来到深圳网众</h2>
        <p>深圳网众创立于2001年,历经十年的发展，已成长为一家以集中式网络存储方案为核心，集软件开发、系统集成、互联网网络应用以及计算机硬件产品销售的高新科技企业。经过十年的不懈努力，销售市场也逐步从深圳本地辐射到全国各地，并先后在北京、广西、福建等地开设分公司。今天的深圳网众已成为计算机无盘应用领域的领先公司，并逐步成长为行业的先锋！
            深圳网众始终凭借“尖端的技术，优质的服务”，在激烈的市场竞争中脱颖而出，独树一帜。一贯长期坚持“立足长远、稳步发展、优质服务、全方位支持”的宗旨。产品上始终坚持“推荐精品、服务客户、性价比好、知名度高”的原则。赢得了多家网络公司的认可，并建立起了长期的战略合作伙伴关系。
            深圳网众先后取得华硕服务器产品深圳区域代理商、网众公司系列产品广东、广西省独家总代理、乐吧影视产品深圳地区独家总代理等资格，公司自有品牌的昊翔服务器、昊翔交换机，目前已在全国无盘行业中大量应用。</p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
